{% extends 'base.html' %}

{% block content %}
    <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/Departments/" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Departments
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="https://en.wikipedia.org/wiki/Computer_science">Computer Science</a>
                    <a class="dropdown-item" href="https://en.wikipedia.org/wiki/Biology">Biology Science</a>
                    <a class="dropdown-item" href="https://en.wikipedia.org/wiki/Commerce">Commerce</a>
                    <a class="dropdown-item" href="https://en.wikipedia.org/wiki/Humanities">Humanities</a>
                    <a class="dropdown-item" href="https://en.wikipedia.org/wiki/Journalism">Journalism</a>
                </div>
            </li>
{% endblock %}